.job-item {
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  transition: 0.5s;
}

.job-item:hover {
  border-color: rgba(0, 0, 0, 0.08);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

/* ScrapedJobItem */

.applyScrapped a {
  border-radius: 24px;
  border-color: green;
  box-shadow: rgb(0 0 0 / 20%) 0 3px 5px -1px, rgb(0 0 0 / 14%) 0 6px 10px 0,
    rgb(0 0 0 / 12%) 0 1px 18px 0;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  padding: 10px 15px;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  will-change: transform, opacity;
  z-index: 0;
}
.applyScrapped a:not(:disabled) {
  box-shadow: rgb(60 64 67 / 30%) 0 1px 3px 0, rgb(60 64 67 / 15%) 0 4px 8px 3px;
}

.applyScrapped a:hover {
  background: #f6f9fe;
  color: #174ea6;
}

.job-summary {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(239, 246, 249) 0%,
    rgb(206, 239, 253) 90%
  );
  border-radius: 10px;
}

/* jobdetail.js css */
.jd-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

/* Pagination css */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.page-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  margin: 0 0.3rem;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
}

.page-item:hover {
  transform: scale(1.1);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #000;
  font-size: 1.2rem;
  text-decoration: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.search-box {
  margin-bottom: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.search-box input {
  width: 500px;
  border-radius: 60px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 14px 22px;
}

.icon-search{
  position: absolute;
  margin-left: 420px;
  color: blue;
  font-size: 25px;
  cursor: pointer;
  font-weight: bolder;
}

@media (max-width:600px) {
  .icon-search{
    margin-left: 300px;
  }
}
